__pycache__/
*.py[cod]
*.egg-info/
.coverage
.pytest_cache/
.ruff_cache/
.mypy_cache/
.venv/
/build/
.terraform/
*.tfstate*
*.tfplan
*.tfvars
*.tfvars.json
.terraformrc
terraform.rc
backend.hcl
/build/stage6/
